Columns

- F1: intercolumnar distance
- F2: upper margin
- F3: lower margin
- F4: exploitation
- F5: row number
- F6: modular ratio
- F7: interlinear spacing
- F8: weight
- F9: peak number
- F10: modular ratio/ interlinear spacing

author: Marcus, Philippus, Ovionicus, Blanquius, Clarius, Paithonius, Ubuntius, FerrumEffractarius

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost
from sklearn import svm, tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
data = pd.read_csv('./INPUT/training_dataset.csv')

In [3]:
data.head()

,id,0,1,2,3,4,5,6,7,8,9,author
0,0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,Ubuntius
1,1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,Philippus
2,2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,Marcus
3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,Clarius
4,4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,Philippus

In [9]:
# Nos quitamos el id
data = data.iloc[:,1:]
data.head()

,0,1,2,3,4,5,6,7,8,9,author
0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,Ubuntius
1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,Philippus
2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,Marcus
3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,Clarius
4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,Philippus

In [10]:
# Asignamos las features a la X
X = data.drop(columns='author')
y = data.author

In [12]:
# Dividimos los datos en entrenamiento y test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, shuffle=True)

In [17]:
# Entrenamos el modelo

models = {
    'XGBC':xgboost.XGBClassifier(),
    'svm': svm.SVC(),
    'treeClassifier': tree.DecisionTreeClassifier(),
    'randomForest': RandomForestClassifier()
    }

for name,model in models.items():
    model.fit(X_train, y_train)
    y_pred= model.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    print(f'Accuracy of {model} is {acc}')
    cm = confusion_matrix(y_test, y_pred)
    print(f'Confusion Matrix of {model} is {cm}')

Accuracy of XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None) is 0.9991680532445923
Confusion Matrix of XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None) is [[ 205    0    0    1    0    0    0    0]
 [   0  116    0    0    1    0    0    0]
 [   0    0   86    0    0    0    0    0]
 [   0    0    0 1030    0    0    0    0]
 [   0    0    0    0  273    0    0    0]
 [   0    0    0    0    0  116    0    0]
 [   0    0    0    0    0    0  460    0]
 [   0    0    0    0    0    0    0  116]]
Accuracy of SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False) is 0.687603993344426
Confusion Matrix of SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False) is [[192   0   0  12   0   0   2   0]
 [  0 102   0   7   8   0   0   0]
 [  0   0   1  51  23   4   7   0]
 [  2   2   0 967  14   2  39   4]
 [  0   4   0  62 185   9  13   0]
 [  0   0   0  51   8  42  15   0]
 [  0   0   0 308  11   3 133   5]
 [  0   4   0  58   5   3  15  31]]
Accuracy of DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best') is 0.9658901830282862
Confusion Matrix of DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best') is [[204   0   0   2   0   0   0   0]
 [  0 111   0   0   6   0   0   0]
 [  0   1  83   0   2   0   0   0]
 [  3   0   0 996   5   4  20   2]
 [  0   2   6   3 262   0   0   0]
 [  0   0   0   4   0 110   1   1]
 [  0   0   0  12   3   1 443   1]
 [  0   0   0   1   0   0   2 113]]
Accuracy of RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False) is 0.990432612312812
Confusion Matrix of RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False) is [[ 205    0    0    1    0    0    0    0]
 [   0  115    0    0    2    0    0    0]
 [   0    0   85    0    1    0    0    0]
 [   0    0    0 1026    0    1    3    0]
 [   0    1    0    0  271    0    0    1]
 [   0    0    0    1    0  115    0    0]
 [   0    0    0    9    2    0  448    1]
 [   0    0    0    0    0    0    0  116]]

In [19]:
# XGBClassifier es el mejor

XGBClassifier = 0.9991680532445923
RandomForestClassifier = 0.990432612312812

print(1-XGBClassifier)
print(1-RandomForestClassifier)

0.0008319467554076532
0.009567387687188011

In [20]:
# Entrenamos el modelo
model = xgboost.XGBClassifier()
data_trained = model.fit(X_train, y_train)
# Lo aplicamos para hacer la predicción
pred = data_trained.predict(X_test)

In [25]:
# Veo comparativa en una tabla
compare = pd.DataFrame({'Reality':y_test, 'Predicted':pred})
compare.head(10)

                  Reality           Predicted
8225             Ubuntius            Ubuntius
6361               Marcus              Marcus
3413   FerrumEffractarius  FerrumEffractarius
3220               Marcus              Marcus
6277               Marcus              Marcus
7689            Philippus           Philippus
5689            Philippus           Philippus
588               Clarius             Clarius
10807              Marcus              Marcus
7955               Marcus              Marcus

In [26]:
# ENTRENAMIENTO SOBRE EL 100% DE LOS DATOS
data_trained = model.fit(X, y)

In [30]:
data2 = pd.read_csv('./INPUT/test_dataset.csv')
data2.head()

,id,0,1,2,3,4,5,6,7,8,9
0,0,0.019197,0.038511,0.192950,0.323367,0.261718,-0.100360,0.106925,0.463833,0.064084,-0.025146
1,1,0.006853,0.462474,-0.016878,0.649795,-1.347089,-0.307984,-0.119577,0.855597,0.375899,-0.092040
2,2,0.229043,-0.369751,0.484575,0.250174,0.261718,-0.017310,0.446679,0.232984,-0.123005,-0.126856
3,3,-0.104241,-0.055704,0.299642,0.391249,0.172340,0.314889,0.106925,0.220694,0.219991,0.368972
4,4,1.043737,-0.401156,0.473906,0.506215,0.261718,0.065740,-0.195078,0.515440,-0.808997,0.315303

In [31]:
# Nos quitamos el id
data2 = data2.iloc[:,1:]
data2.head()

,0,1,2,3,4,5,6,7,8,9
0,0.019197,0.038511,0.192950,0.323367,0.261718,-0.100360,0.106925,0.463833,0.064084,-0.025146
1,0.006853,0.462474,-0.016878,0.649795,-1.347089,-0.307984,-0.119577,0.855597,0.375899,-0.092040
2,0.229043,-0.369751,0.484575,0.250174,0.261718,-0.017310,0.446679,0.232984,-0.123005,-0.126856
3,-0.104241,-0.055704,0.299642,0.391249,0.172340,0.314889,0.106925,0.220694,0.219991,0.368972
4,1.043737,-0.401156,0.473906,0.506215,0.261718,0.065740,-0.195078,0.515440,-0.808997,0.315303

In [32]:
pred = data_trained.predict(data2)

In [33]:
data2['author'] = pred
data2.head()

,0,1,2,3,4,5,6,7,8,9,author
0,0.019197,0.038511,0.192950,0.323367,0.261718,-0.100360,0.106925,0.463833,0.064084,-0.025146,Philippus
1,0.006853,0.462474,-0.016878,0.649795,-1.347089,-0.307984,-0.119577,0.855597,0.375899,-0.092040,Philippus
2,0.229043,-0.369751,0.484575,0.250174,0.261718,-0.017310,0.446679,0.232984,-0.123005,-0.126856,Marcus
3,-0.104241,-0.055704,0.299642,0.391249,0.172340,0.314889,0.106925,0.220694,0.219991,0.368972,Marcus
4,1.043737,-0.401156,0.473906,0.506215,0.261718,0.065740,-0.195078,0.515440,-0.808997,0.315303,Marcus

In [35]:
data2['id'] = data2.index
submit = data2[['id','author']]
submit.head()

   id     author
0   0  Philippus
1   1  Philippus
2   2     Marcus
3   3     Marcus
4   4     Marcus

In [36]:
submit.to_csv('./OUTPUT/XGBClassifier.csv',index=False)